@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px 5px;
    box-sizing: border-box;
}

:root{
    --SoftBlue: hsl(231, 69%, 60%);
    --SoftRed: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}

body{
    padding: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

body p{
    color: var(--Grayish-Blue);
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
    padding: 10px 20px 20px 0;
}

nav button{
    all: unset;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: var(--SoftBlue);
}

nav button a{
    color: white;
    font-size: .75rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: -150px;
}

.hamburger{
    display: none;
}

nav ul a{
    color: black;
    font-size: .75rem;
}

a{
    text-decoration: none;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

main h1{
    font-size: 40px;
    color: hsl(229, 31%, 21%);
    padding-bottom: 20px;
}

main p{
    padding-bottom: 20px;
}

.mainb1{
    all: unset;
    border-radius: 5px;
    padding: 8px 13px;
    background-color: var(--SoftBlue);
}

.mainb1 a{
    color: white;
}


.mainb2 a{
    color: black;
}

.mainb2{
    all: unset;
    border-radius: 5px;
    padding: 8px 13px;
    background-color: white;
    margin-left: 10px;
    box-shadow: 1px 1px 15px gray;
}

.section1 img{
    width: 55%;
    background-image: url();
}

.section2 {
    text-align: center;
}

.section2 h1, .section2 p{
    font-size: 1rem;
}

.section2 img{
    width: 45%;
}

.sec2div2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sec2div{
    width: 50%;
    margin: 100px auto 65px;

}

.sec2div h1{
    margin: 25px 0;
    color: var(--Very-Dark-Blue);
    font-size: 2rem;
}

.sec2div2 h1{
    font-size: 20px;
}

.sec2div2 div{
    text-align: left;
    margin-top: 40px;
}

hr{
    /* all: unset; */
    border: none;
    height: 2px;
    background-color:var(--SoftRed)
}

.mainp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.sec3div{
    width: 50%;
    margin: 150px auto 10px;
    text-align: center;

}

.sec3div h1{
    margin: 25px 0;
    color: var(--Very-Dark-Blue);
    font-size: 2rem;
}

.section3 p{
    font-size: 1rem;
}

.sec3div2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sec3div2 div{
    width: 21%;
    text-align: center;
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 45px;
    box-shadow: 10px 10px 15px gainsboro;
}

.sec3div2 div h1{
    margin: 20px 0 10px;
    font-size: 17px;
}

.sec3div2 div p{
    margin-bottom: 20px; 
}

.sec3div2 div button{
    all: unset;
    border-radius: 5px;
    padding: 8px 13px;
    background-color:var(--SoftBlue);
    margin-top: 10px;
    box-shadow: 5px var(--Grayish-Blue);
    
}

.sec3div2 div a{
    color: white;
    font-size: .65rem;
}

.browser2{
    margin-top: 25px;
}

.browser3{
    margin-top: 50px;
}

.sec3div div p{
    text-align: left;
    margin: 10px 0;
    justify-content: space-between;
}

.sec3div div img{
    float: right;
    padding-right: 20px;
}

.sec3div div hr{
    border: none;
    height: 2px;
    background-color: gainsboro
}

.sec3div p{
    margin-bottom: 45px;
}

.sec3div h1{
    margin: 25px 0;
    color: var(--Very-Dark-Blue);
    font-size: 2rem;
}

.sec3div button{
    all: unset;
    border-radius: 5px;
    padding: 8px 13px;
    background-color: var(--SoftBlue);
    margin-top: 50px;
}

.sec3div a{
    color: white;
}

.section4{
    background-color: var(--SoftBlue);
    text-align: center;
    padding: 50px;
    color: white;
    margin-top: 100px;
} 

.section4 p{
    margin: 20px;
    color: white;
    font-size: .75rem;
    letter-spacing: .3rem;
}

.section4 h1{
    margin: 30px auto;
    font-size: 2rem;
    width: 50%;
    font-weight: 500;
}

#email{
    all: unset;
    border-radius: 8px;
    padding: 8px 13px;
    background-color:white;
    margin-top: 20px;
}

::placeholder{
    color: gray;
    font-size: .8rem;
    text-align: left;
}

.section4 input{
    all: unset;
    border-radius: 8px;
    padding: 12.5px;
    font-size: .75rem;
    background-color:red;
    margin-top: 20px;
}

footer{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

footer a{
    color: white;
    font-size: 1rem;
}

.logo{
    filter: invert(1);
}

footer ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-right: 100px;
}

@media screen and (max-width: 992px) {

    main h1{
        font-size: 35px;
    }
    
    .mainb1{
        padding: 5px 8px;
    }
    
    .mainb2{
        border-radius: 5px;
        padding: 5px 8px;
    }
    
    .section1 img{
        width: 45%;
        background-image: url();
    }

    .sec3div2 div{
        width: 25%;
    }

    .sec3div div img {
        float: right;
        padding-right: 0px;
    }
    
    footer ul {
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px) {

    nav button {
        display: none;
    }

    * {
        padding: 0px;
    }

    .section1 {
        flex-direction: column-reverse;
        margin: auto;
        text-align: center;
    }

    nav ul {
        display: none;
    }

    .section1 img {
        width: 100%;
        margin-top: 50px;
    }

    .section2 {
        text-align: center;
        margin-top: 70px;
    }


    .hamburger{
        display: block;
    }

    .sec2div {
        width: 70%;
        margin: 80px auto 45px;
    }

    .sec2div2 {
        flex-direction: column;
        text-align: center;
    }

    .sec2div2 div {
        text-align: center;
        margin-top: 40px;
    }

    .sec3div2 {
        flex-direction: column;
    }

    .section2 img {
        width: 85%;
    }

    .mainb1 {
        padding: 8px 13px;
    }

    .sec3div2 div{
        width: 100%;
        padding: 20px 50px;
    }

    .section4 h1 {
        width: 100%;
    }

    .sec3div div img {
        margin-right: 10px;
        padding-right:  0px;
    }

    .sec3div div p {
        text-align: left;
        margin: 10px 0px;
        justify-content: space-between;
        gap: 50px;
    }

    footer {
        flex-direction: column;
        gap: 40px;
    }

    .sec3div {
        width: 100%;
        margin: 150px auto 10px;
        text-align: center;
    }

    .socials img{
        margin-left: 10px;
    }

}

@media screen and (max-width: 576px) {

    .mainb1, .mainb2, .sec3div button {
        padding: 3px 8px;
        margin-left: 3px;
    }

    .socials img{
        margin-left: 10px;
    }
}

@media screen and (max-width: 375px) {

    .mainb2{
        margin: 10px 0px;
    }

    .mainp {
        flex-direction: column;
    }

    .section2 img {
        width: 100%;
    }

    .section4 h1 {
        width: 100%;
        font-size: 20px;
    }

    .section4 {
        padding: 50px 5px;
    }

    #email {
        width: 80%;
    }

    .sec3div div img {
        margin-right: 10px;
        margin-bottom: 20px;
        padding-right: 0px;
    }

    .section4 p {
        margin: 0px;
    }

    #dots{
        width: 50%;
    }
    
    footer ul {
       flex-direction: column;
    }

    .socials img{
        margin-left: 10px;
    }

}
